{{ define "main" }}

<h1>Build Chains</h1>

<h3>Build Chains is a company specialized on build blockchain projects partnerships.</h3>

<p>
We currently stablished partnerships between several projects at Binance Smart Chain including
<a target="_blank" href="https://soteria.finance/">Soteria Mutual</a>, <a target="_blank" href="https://blink.wink.org/">Blink</a>, <a target="_blank" href="https://kalata.io/">Kalata</a> and <a target="_blank" href="https://multiplier.finance/">Multiplier</a>.
</p>

<p>
  This site is under construction, feel free to reach us at <a target="_blank" href="mailto:partnerships@buildchains.com">partnerships@buildchains.com</a>
</p>  
{{ end }}
